<!DOCTYPE html>

@using System.Text

@model OrderViewModel

<html lang="en" class="full-height">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Baby Spa Mongolia</title>
    <title>@ViewBag.Title | Baby Spa Mongolia</title>
    <!-- Meta OG -->
    <meta property="og:title" content="Baby Spa Mongolia">
    <meta property="og:description" content="Бяцхан үрсийн алжаал тайлах төв.">
    <meta property="og:image" content="https://mdbootstrap.com/img/Live/MDB/spa-landing.jpg">
    <meta property="og:url" content="http://babyspa.mn">
    <meta property="og:site_name" content="babyspa.mn">
    <!-- /Meta OG -->
    <!-- Twitter Card -->
    <meta name="twitter:card" content="Baby Spa Mongolia">
    <meta name="twitter:description" content="Бяцхан үрсийн алжаал тайлах төв.">
    <meta name="twitter:title" content="Baby Spa Mongolia">
    <meta name="twitter:site" content="http://babyspa.mn">
    <meta name="twitter:image" content="https://mdbootstrap.com/img/Live/MDB/spa-landing.jpg">
    <meta name="twitter:creator" content="BabySpa">
    <!-- /Twitter Card -->

    @Styles.Render("~/Content/css")
    @Styles.Render("~/Content/vendors")
    @Scripts.Render("~/bundles/modernizr")

</head>
@{ string type = "";
    string path = Request.Url.GetLeftPart(UriPartial.Authority);
    var routeValues = this.ViewContext.RouteData.Values;
    var varController = routeValues["controller"] as string;
    var varAction = routeValues["action"] as string;
    bool isHome = varController.ToLower() == "home" && varAction.ToLower() == "index";
    string header_class = "";
    if (!isHome)
    {
        header_class = "header_tiny";
    }
}
<body class="cyan-skin intro-page spa-lp">
    <!--Navigation & Intro-->
    <header class="@header_class">
        <!--Navbar-->
        <nav class="navbar fixed-top navbar-expand-lg navbar-dark scrolling-navbar" style="">
            <div class="container">
                <a class="navbar-brand waves-effect waves-light logo" href="#">
                    <img src="~/img/logo_png_1.png" />
                </a>
                <button class="navbar-toggler" type="button" data-toggle="collapse"
                        data-target="#navbarSupportedContent"
                        aria-controls="navbarSupportedContent"
                        aria-expanded="false"
                        aria-label="Toggle navigation" style="">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <!--Links-->
                    <ul class="navbar-nav mr-auto">

                        <li class="nav-item">
                            <a class="nav-link waves-effect waves-light" href='@Url.Action("Index","Home")' data-offset="100">Нүүр</a>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link waves-effect waves-light" href="@Url.Action("Index","Home")#services" data-offset="0">Үйлчилгээ</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link waves-effect waves-light" href="@Url.Action("Index","Home")#pricing" data-offset="100">Бүтээгдэхүүн</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link waves-effect waves-light" href="@Url.Action("Index","Home")#testimonials" data-offset="100">Сэтгэгдэл</a>
                        </li>
                        @*<li class="nav-item">
            <a class="nav-link waves-effect waves-light" href="#newsletter" data-offset="100">Newsletter</a>
        </li>*@
                        <li class="nav-item">
                            <a class="nav-link waves-effect waves-light" href="@Url.Action("Index","Home")#branches" data-offset="100">Холбоо барих</a>
                            @*<a class="nav-link waves-effect waves-light" data-toggle="modal" data-target="#branches">Холбоо барих</a>*@
                        </li>
                        <li class="nav-item">
                            <a class="nav-link waves-effect waves-light" href="#">Мэдээлэл</a>
                        </li>
                        <li class="nav-item">
                            @*@Html.ActionLink("Тухай", "About","Home",null, new { @class= "nav-link waves-effect waves-light" })*@
                            <a class="nav-link waves-effect waves-light" href="@Url.Action("About","Home")">Тухай</a>
                        </li>
                    </ul>
                    <!--Social Icons-->
                    <ul class="navbar-nav nav-flex-icons">
                        <li class="nav-item">
                            <a class="nav-link waves-effect waves-light" target="_blank" href="https://www.facebook.com/Babyspamongolia/"><i class="fa fa-facebook"></i></a>
                        </li>
                        @*<li class="nav-item">
                                <a class="nav-link waves-effect waves-light"><i class="fa fa-twitter"></i></a>
                            </li>*@
                        <li class="nav-item">
                            <a class="nav-link waves-effect waves-light" target="_blank" href="https://www.instagram.com/babyspamongolia/"><i class="fa fa-instagram"></i></a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
        <!--/Navbar-->
        <!-- Intro Section -->
        @if (isHome)
        {
            <div id="home" class="view hm-black-strong-1 jarallax" data-jarallax='{"speed": 0.2}'
                 style="background-image: url('img/header_main.JPG');">
                <div class="full-bg-img">
                    <div class="container flex-center">
                        <div class="row smooth-scroll">
                            <div class="col-md-12 white-text text-center">
                                <div class="wow fadeInDown" data-wow-delay="0.2s" style="visibility: visible; animation-delay: 0.2s; animation-name: fadeInDown;">
                                    <h3 class="display-3 font-bold mb-2" id="home_desc">Baby Spa</h3>
                                    <hr class="hr-light"><br /><br />
                                    <h4 class="subtext-header mt-4 mb-5">-Бяцхан үрсийн алжаал тайлах төв-<p> Тавтай үйлчлүүлээрэй.</p></h4>
                                </div>
                                <btn class="btn btn-rounded btn-lg btn-secondary btn-purple-2 wow fadeInUp waves-effect waves-light" data-wow-delay="0.2s" data-toggle="modal" data-target="#modal-reservation" style="visibility: visible; animation-delay: 0.2s; animation-name: fadeInUp;">Захиалга өгөх</btn>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        }

        <!--Modal Reservation-->
        <div class="modal fade modal-ext" id="modal-reservation" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" style="display: none;" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <!--Content-->
                <div class="modal-content">
                    <!--Header-->
                    @{Html.RenderPartial("_Order");}
                </div>
                <!--/Content-->
            </div>
        </div>
        <!--/Modal Reservation-->
        <!--Modal Contact-->
        <div class="modal fade modal-ext" id="modal-contact" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <!--Content-->
                <div class="modal-content">
                    <!--Header-->
                    <div class="modal-header text-center">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">×</span>
                        </button>
                        <h4 class="modal-title w-100" id="myModalLabel">Холбоо барих</h4>
                    </div>
                    <!--Body-->
                    <div class="modal-body">
                        <p>Бид таны санал хүсэлийг авахдаа үргэлж баяртай байх болно</p>
                        <br>
                        <div class="md-form">
                            <i class="fa fa-user prefix"></i>
                            <input type="text" id="form22" class="form-control">
                            <label for="form42">Таны нэр</label>
                        </div>
                        <div class="md-form">
                            <i class="fa fa-envelope prefix"></i>
                            <input type="text" id="form32" class="form-control">
                            <label for="form34">Имэйл хаяг</label>
                        </div>
                        <div class="md-form">
                            <i class="fa fa-tag prefix"></i>
                            <input type="text" id="form32" class="form-control">
                            <label for="form34">Гарчиг</label>
                        </div>
                        <div class="md-form">
                            <i class="fa fa-pencil prefix"></i>
                            <textarea type="text" id="form8" class="md-textarea"></textarea>
                            <label for="form8">Таны санал</label>
                        </div>
                        <div class="text-center">
                            <button class="btn btn-lg btn-primary waves-effect">Илгээх</button>
                            <div class="call">
                                <p>Эсвэл утсаар холбогдох уу? <span class="cf-phone"><i class="fa fa-phone"></i>76002288</span></p>
                            </div>
                        </div>
                    </div>
                    <!--Footer-->
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default waves-effect" data-dismiss="modal">Хаах</button>
                    </div>
                </div>
                <!--/Content-->
            </div>
        </div>
        <!--/Modal Contact-->
    </header>
    <!--/Navigation & Intro-->
    <!--Main content-->
    <main style="background-image:url(/img/bg-5.jpg);background-repeat:repeat" class="mb-5">
        @RenderBody()
    </main>
    <!--/Main content-->
    <!--Footer-->
    <footer class="page-footer center-on-small-only pt-4 teal">

        <!--Footer Links-->
        <div class="container mb-3">

            <!--First row-->
            <div class="row">

                <!--First column-->
                <div class="col-xl-4 col-lg-4 mt-1 mb-1 wow fadeIn" data-wow-delay="0.3s">
                    <!--About-->
                    <h5 class="title mb-4 font-bold">"Baby Spa" Монгол</h5>

                    <p>Material Design (codenamed Quantum Paper) is a design language developed by Google.</p>

                    <p>Material Design for Bootstrap (MDB) is a powerful Material Design UI KIT for most popular HTML, CSS, and JS framework - Bootstrap.</p>
                    <!--/About -->

                    <div class="footer-socials mt-2">

                        <!--Facebook-->
                        <a type="button" class="btn-floating  btn-pink-2"><i class="fa fa-facebook"></i></a>
                        <!--Dribbble-->
                        <a type="button" class="btn-floating  btn-pink-2"><i class="fa fa-dribbble"></i></a>
                        <!--Twitter-->
                        <a type="button" class="btn-floating  btn-pink-2"><i class="fa fa-twitter"></i></a>
                        <!--Google +-->
                        <a type="button" class="btn-floating  btn-pink-2"><i class="fa fa-google-plus"></i></a>

                    </div>
                </div>
                <!--/First column-->

                <hr class="w-100 clearfix d-md-none">

                <!--Second column-->
                <div class="col-xl-3 ml-xl-auto col-lg-4 col-md-6 mt-1 mb-1 wow fadeIn" data-wow-delay="0.3s">
                    <!--Search-->
                    <h5 class="title mb-4 font-bold">Search something</h5>

                    <ul class="footer-search">
                        <li>
                            <form class="search-form" role="search">
                                <div class="form-group waves-light waves-effect waves-light">
                                    <input type="text" class="form-control" placeholder="Search">
                                </div>
                            </form>
                        </li>
                    </ul>

                    <!--Info-->
                    <p><i class="fa fa-home pr-1"></i> New York, NY 10012, US</p>
                    <p><i class="fa fa-envelope pr-1"></i> info@example.com</p>
                    <p><i class="fa fa-phone pr-1"></i> + 01 234 567 88</p>
                    <p><i class="fa fa-print pr-1"></i> + 01 234 567 89</p>

                </div>
                <!--/Second column-->

                <hr class="w-100 clearfix d-md-none">

                <!--Third column-->
                <div class="col-xl-3 ml-xl-auto col-lg-4 col-md-6 mt-1 mb-1 wow fadeIn" data-wow-delay="0.3s">
                    <!--Contact-->
                    <h5 class="title mb-4 font-bold">Recent news</h5>

                    <ul class="footer-posts">
                        <li><a>Ut enim ad minim veniam nostrud.</a><span><p class="pink-text-2">28 july 2016</p></span></li>
                        <li><a>Duis aute dolor in reprehenderit.</a><span><p class="pink-text-2">27 july 2016</p></span></li>
                        <li><a>Excepteur sint occaecat cupidatat.</a><span><p class="pink-text-2">26 july 2016</p></span></li>
                        <li><a>Sed perspiciatis unde omnis iste.</a><span><p class="pink-text-2">25 july 2016</p></span></li>
                    </ul>

                </div>
                <!--/Third column-->

            </div>
            <!--/First row-->

        </div>
        <!--/Footer Links-->
        <!--Copyright-->
        <div class="footer-copyright wow fadeIn" data-wow-delay="0.3s" style="visibility: hidden; animation-delay: 0.3s; animation-name: none;">
            <div class="container-fluid">
                © 2018 Copyright: <a href="http://babyspa.mn/" rel="nofollow">BabySpa.mn </a>
            </div>
        </div>
        <!--/Copyright-->



    </footer><div class="hiddendiv common"></div>
    <!-- SCRIPTS -->

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/mdb")

    <script>

        //Animation init
        new WOW().init();

        //Modal
        $('#myModal').on('shown.bs.modal', function () {
            $('#myInput').focus()
        })

        // Material Select Initialization


    </script>
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/vendors")

    <script type="text/javascript">
        $(document).ready(function () {

            $('.mdb-select').material_select();
            //$('.select-dropdown').attr('data-val', 'true').attr('data-val-required', 'Заавал оруулна уу!');
            if ("@isHome"=="True" || "@varAction.ToLower()" == "branches") {
                initMap();
            }
        });

        $('#Order_order_date').datetimepicker({ format: 'YYYY-MM-DD', minDate: moment() });
         function getTimes() {
            $.ajax({
                type:"POST",
                url: '@Url.Action("GetTimeTable", "Home")',
                data: { day: $("#Order_order_date").val(), branch_id: $("#Order_branch_id > option:selected").attr("value") },
                success: function (data) {
                    var items = [];
                    //items.push("<option>--Choose Your Area--</option>");
                    $.each(data, function () {
                        if (this.Value === "") {
                            items.push("<option disabled selected value=" + this.Value + ">" + this.Text + "</option>");

                        } else {
                            items.push("<option value=" + this.Value + ">" + this.Text + "</option>");
                        }
                    });
                    $("#List_0__order_time").html(items.join(' '));
                    $('#List_0__order_time').material_select();
                    if (items.length == 1) {
                        $('#btnOrder').addClass('disabled');
                    }
                    else
                        $('#btnOrder').removeClass('disabled');

                }
            })
        };
        $("#Order_branch_id").change(function () {
            getTimes();
        });
        $("#Order_order_date").on("dp.change", function (e) {
            getTimes();
        });

    </script>
    @RenderSection("scripts", required: false)
</body>
</html>
